@charset "UTF-8";

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 75px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center; /* 가운데 정렬 추가 */
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	text-align: center; /* 가운데 정렬 추가 */
	font-size: 20px;
}

nav li {
	display: inline-block;
	margin-right: 40px;
	font-size: 20px;
}

nav {
	text-align: center; /* 가운데 정렬 추가 */
	padding: 35%;
}

nav li a {
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}

nav li img {
	max-width: 5%;
	height: auto;
	float: left;
}

nav li input[type="button"] {
	text-align: right;
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}

footer {
	position: relative;
	width: 100%;
	padding: 20px 0;
	background-color: #f1f1f1;
	display: flex;
	justify-content: left;
	align-items: left;
	flex-wrap: wrap;
}

footer p {
margin: 0;
font-size: 10px;
display: flex; 
justify-content: left;
color: gray;
}

footer p span {
	flex: 1; /* 추가 */
}

footer h1 span {
	flex: 1; /* 추가 */
}

.footer-content img {
	width: 30px; /* 이미지의 너비 조정 */
	height: auto;
	margin-right: 10px;
}

img {
	min-width: 300px;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	padding: 0%;
	display: block;
	margin: 0 auto;
}