@charset "UTF-8";



.container {
  position: relative;
  min-height: 100%;
}

.product-container {
  margin-bottom: 300px; /* 각 상품 사이의 간격 조정 */
  background-color: #F8F8F8; /* 배경색 변경 */
}


		table {
            margin: 0 auto; /* 가운데 정렬 */
            width: 80%; /* 테이블 크기 조정 */
           
        }
        td {
    	text-align: center;
  		}
  		
  		table {
		  border-collapse: collapse;
		}
		
		/* table tr:first-child {
		  border-top: 1px solid black;
		}
		
		table tr:last-child {
		  border-bottom: 1px solid black;
		} */
		
		th {
        height: -20px; /* 원하는 너비로 조정 */
    	}



.custom-input {
  font-size: 15px;
  background-color: #DFE9E8;
  border: none;
}

/* 메인 스타일 */
.main {
  flex : 1;
  display : flex;
  justify-content: center;
  margin: 20px;
}



h1 {
		position: absolute;
        top: 40%;
    	left: 50%;
    	transform: translate(-50%, -50%);
        height: 600px; /* 원하는 높이 값으로 변경 */  
        color: #477a7b;   /* 글씨색깔 */
        }
        
        /* .input-container {
  position: relative;
  display: inline-block;
}

.clear-button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  padding: 0;
  background-color: #477a7b;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
} */
        

